a,
#menu a:hover,
#menu a.active,
.color,
.bt:hover,
.nav a:hover,
.nav a.active,
h2.title a:hover{color: #4A8F43;}

blockquote p{border-left:3px solid #4A8F43;}

a:hover{color: #3a7135;}

.bt{
	background-color:#4A8F43;
	border-bottom:2px solid #3e7838;
}
.bt:hover{
	background-color:#3e7838;
	color:#fff;
}

.skills div{
	text-shadow:1px 1px #254521;
	background:url(../../images/skills/skills-green.png) no-repeat left;
}
