<!-- Start Contact -->
<div id="contact" class="clearfix">

	<!-- Start Header Text -->
	<h1 class="header-text"><%= t('.contact_page_title', :default => 'Contact') %> <span><%= t('.contact_page_title_trailer', :default => 'Lorem ipsum dolor sit amet, consectetur.') %></span></h1><!-- End Header Text -->

    <div class="divider"></div>
    
    <div class="contact clearfix">
    
    	<!-- Start Column -->
    	<div class="two-one">
        	<!-- Start Contact Form -->
        	<h2><%= t('.contact_form_title', :default => 'Need more information?') %></h2>
            <form action="mail.php" method="post" id="contact-form">
            	<p><span>Name:</span><input type="text" name="name" value=""></p>
                <p><span>Email:</span><input type="text" name="email" value=""></p>
                <p><span>Subject:</span><input type="text" name="subject" value=""></p>
                <p><textarea name="message" cols="" rows="5"></textarea> </p>
                <p><input name="" type="submit" value="Submit" class="bt"></p>
    	    </form>
          <!-- End Contact Form -->
        </div><!-- End Column  -->
        
        <!-- Start Column -->
        <div class="one-third last">
        	<!-- Start Address -->
        	<h2><%= t('.contact_details', :default => 'Contact Details') %></h2>
            <ul class="address">
                <li><span>Office:</span>26 Street, Los Angeles</li>
                <li><span>Phone: </span>(000) - 987654321</li>
                <li><span>Fax: </span>(000) - 123456788</li>
                <li class="last"><span>Email: </span>yourname@site.com</li>
            </ul><!-- End Adress -->
        </div><!-- End Column -->
        
    </div>
    
    <div class="divider"></div>
    
    <!-- Start Map -->
    <iframe class="image" width="636" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Manhattan,+New+York,+NY&amp;sll=37.0625,-95.677068&amp;sspn=71.810722,137.724609&amp;ie=UTF8&amp;hq=&amp;hnear=Manhattan,+New+York&amp;ll=40.783401,-73.966141&amp;spn=0.06421,0.102654&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe><!-- End Map -->
                
</div><!-- End Contact -->