<ul id="menu">
	<li><%= link_to "Home", root_path, :class => 'scrol active' %></li>
	<li><%= link_to "About", about_path, :class => 'scrol' %></li>
	<li><%= link_to "Gallery", gallery_path, :class => 'scrol' %></li>
	<li><a href="#" title="Coming Soon!">+ Blog</a></li>
	<li><%= link_to "Contact", contact_path, :class => 'scrol' %></li>
  <!--- <li><a href="./shortcodes.html">+ Shortcodes</a></li> --->
</ul>