<!-- Start Social -->
<ul class="social">
	<li><a href="#" class="facebook" rel="tipsy" title="Facebook">Facebook</a></li>
	<li><a href="#" class="twitter"  rel="tipsy" title="Twitter">Twitter</a></li>
	<li><a href="#" class="skype"  rel="tipsy" title="Skype">Skype</a></li>
	<li><a href="#" class="vimeo"  rel="tipsy" title="Vimeo">Vimeo</a></li>
</ul>
<!-- End Social -->

<div class="clear"></div>

<!-- Start Copyright -->
<p>Copyright 2011. All rights reserved.</p>
<!-- End Copyright -->
